<div class="container">
  <input
  id="idPokemon"
  name="idPokemon"
  [(ngModel)]="idPokemon"

  required
  placeholder="Insert Pokemon number"
  type="number"
 />
 <button (click)="getPokemonInfo(idPokemon)">Search</button>
</div>

<br>
<div class="container" *ngIf="pokemonApiContent |async as poke">
  <div class="card" style="width: 20rem;">
    <img src="{{generateImageJPG(poke.name)}}" class="card-img-top" alt="{{poke.name}}">
    <div class="card-body">
      <div class="row">
        <h5 class="card-title col">{{toUpperCase(poke.name)}}</h5>
          <div *ngFor="let type of poke.types">
            <p class="{{generateIcon(type.type.name)}}">{{type.type.name}}</p>
          </div>
      </div>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Id: {{poke.id}}</li>
        <li class="list-group-item">Weigth: {{poke.weight/10}} kg</li>
        <li class="list-group-item">Height: {{poke.height/10}} m</li>
      </ul>
      <div class="card-body">
        <button class="card-link" (click)="openPopup()">View Forms</button>
        <a href="#" class="card-link"  (click)="closePopup()">Close</a>
       </div>
  </div>
  <!-- POPUP -->
  <div class="popup" id="popup">
    <dialog>
        <section>
        <img src="{{generateImagePNG(poke.name)}}" class="card-img-top" alt="{{poke.name}}">
        <img src="{{generate3dGIFShiny(poke.name)}}" class="card-img-top" alt="{{poke.name}}">
        <img src="{{generate3dImagesShiny(poke.name)}}" class="card-img-top" alt="{{poke.name}}">
        <img src="{{generate3dImagesMore(poke.name)}}"  class="card-img-top" alt="{{poke.name}}">
        </section>
    </dialog>

  </div>
</div>

